<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238939931163-dbskn2qb82j0v2mk909uu5qqpsilf6qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238939931163-dbskn2qb82j0v2mk909uu5qqpsilf6qa</string>
	<key>API_KEY</key>
	<string>AIzaSyBwK3_zBtTZMDT8nli5dAz68pbuDi8ccdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>238939931163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AlekseyBu.ToDoListFire</string>
	<key>PROJECT_ID</key>
	<string>todolistfire-f8f63</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistfire-f8f63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238939931163:ios:a6b3ea5678829e8a512ebe</string>
</dict>
</plist>